.agoralatestB {
	
}

.agoralatestB a {
	text-decoration: none;	
}

.agora_latest_header_2cB {
	font-size: 1.2em;
	text-align: center;
}

.agora_latest_headerB {
}

.agora_latest_left_colB {

}

.agora_latest_itemB {
	
}


.agora_latest_avatar_leftB {
	float: left;
}

.agora_latest_avatar_leftB img {
	padding: 1px;
	border: 1px solid #CCC;
}

.agora_latest_avatarB{
}

.agora_latest_clearB {
	clear: both;
	float: none;
	height: 2px;
	width: 80%;
	border-top-style: solid;
	border-top-color: #CCC;
	border-top-width: 1px;
	padding-bottom: 12px;
}


